## Variables

1. It is the name of the memory cell.
2. This is used to store the value. 
3. A variable can store only one value at a time. ( latest value )

Example

a = 10 # 'a' is the variable here, and '10' is the value stored in that variable.

In [19]:
a = 10 
print(a)

10

In [20]:
b = 1994
print(b)

1994

In [22]:
a = 100
print(a)

100

If you notice here, we have created variable called 'a' and stored first value as '10' and again we stored the "100" value in the same variable, but variable took the latest value and printed the output.

In [24]:
a = 25
b = 26 

print("the value of a is:", a)
print("the value of b is:", b)

the value of a is: 25
the value of b is: 26

In [27]:
sum1 = 10
sum2 = 20
sum3 = sum1 + sum2
print(sum3)

30

In the  instruction a=25, is called as an "Assignment operator".

Assignment can be done in 2 ways. 

1. Assigning single value to multiple variables.
2. Assigning multiple values to multiple variables. 

Example 1 : Assigning single value to multiple variables.
    
a=b=c=20

In [28]:
a=b=c=20

print(a)
print(b)
print(c)

20
20
20

Example 2 : Assigning multiple values to multiple variables.

s,t,u=30,40,50

In [30]:
s,t,u=30,40,50

print(s)
print(t)
print(u)

30
40
50

# id()

id() is used to get the address of the variable.

Syntax:

id(VariableName)

In [32]:
kiran = 9491311250

id(kiran)

140621010553040

In [33]:
kiran = +971521217394

id(kiran)

140621010553424

In [53]:
nandu=1994
kiran=1994

print(id(nandu))
print(id(kiran))

140621257503280
140621257503408

In [52]:
fn=100
ln =200

print(id(fn))
print(id(ln))

140621524489680
140621524492944

========================


Rules to be followed to declare variables:

1)Should start with [a-z][A-Z] _

2)Variable names should not contain any special character(except _)

3)Variable names are case sensitive.

4)Variable names should not be any keyword.

===========================

In [50]:
# Python program to print the list of all keywords

# importing the module
import keyword

# printing the keywords
print("Python keywords are...")
print(keyword.kwlist)

Python keywords are...
['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Comments

What ever we do write under comments,that will not be considered for execution.


Python supports two types of comments:

1) Single line comment:
Used to comment only one line.It is done by using # .

Eg:
#single line comment  
print("Hello Python") 

output:
Hello Python

2) Multi lined Comment:
This is used to comment multiple lines at a time.
Multi line comment can be given inside triple quotes or double triple 
quotes.

eg:

''' This 
    Is 
    Multipline comment
'''  
eg:

"""
This is also a
perfect example of
multi-line comments
"""

''' 
    ====>triple quotes

'''


"""

   =====>double triple quotes

"""

Example for single line comment.

#e = 20  single line comment

Example for multi line comment.

"""

abc = 2506
bcd = 2605

"""

'''

Good morning

'''